
<div class="navbar navbar-expand navbar-light bg-pink px-2 m-0">
    
    <a class="navbar-brand px-4" href="#" style="color:black;">AWARENESS FOR WOMEN AGAINST ABUSE</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <!-- <li class="nav-item dropdown" (mouseover)="openDropdown($event)" (mouseleave)="closeDropdown($event)">
          <a class="nav-link dropdown-toggle bg-pink" style="color:black;" href="#" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">Register a Complaint</a>
          <ul class="dropdown-menu dropdown-menu-light" [class.show]="isDropdownOpen">
            <li><a href="#" class="dropdown-item">Instructions</a></li>
            <li><a href="#" class="dropdown-item">Complaint Registration</a></li>
            <li><a href="#" class="dropdown-item">Modify your Complaint</a></li>
            <li><a href="#" class="dropdown-item">Read Complaints</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link" style="color:black;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/abour" routerLinkActive="active-link" style="color:black;">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/acts"  routerLinkActive="active-link" style="color:black;">Acts and Rules</a>
        </li>
     
        <li class="nav-item">
          <a class="nav-link"  routerLink="/stories"  routerLinkActive="active-link" style="color:black;">Stories</a>
        </li>
        <li class="nav-item dropdown" (mouseover)="openDropdown($event, 'ins')" (mouseleave)="closeDropdown($event, 'ins')">
          <a class="nav-link"  class="nav-link dropdown-toggle bg-pink" style="color:black;" role="button"
          data-bs-toggle="dropdown" aria-expanded="false"  routerLink="/ins" routerLinkActive="active-link"  style="color:black;">Our Inspirations</a>
          <ul class="dropdown-menu dropdown-menu-light" [class.show]="isDropdownOpen">
            <li><a routerLink="/Officers" class="dropdown-item">Women Officers</a></li>
            <li><a routerLink="/Victims" class="dropdown-item">Women Victims</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/feedback"  routerLinkActive="active-link" style="color:black;">Feedback</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="/contactus"  routerLinkActive="active-link" style="color:black;">Contact Us</a>
        </li>
      </ul>
    </div>
    <div class="profile-logo dropstart" style="color:black;">
      <button class="btn btn-outline-light dropdown-toggle" style="color:black;border-color:black;"
     data-bs-toggle="dropdown">{{username}}</button>
      <ul class="dropdown-menu dropdown-menu-dark">
        <li><a routerLink="/signup" class="dropdown-item">SIGN UP</a></li>
        <li><a routerLink="/login" class="dropdown-item">LOGIN</a></li>
        <li><a href="#" class="dropdown-item">YOUR PROFILE</a></li>
        <li><a routerLink="/display" class="dropdown-item">LOG OUT</a></li>
      </ul>
    </div>
  </div>
  
<h1 class="h1">Demanding Dowry</h1>
<h1>Dowry Prohibition Act, 1961</h1> 
<div class="co1">
<img src="https://www.ericgjohnsonlaw.com/wp-content/uploads/2019/03/domestic-violence-attorney-min.jpg" alt="Domestic Violence"> 
<h2>Section 4</h2> 
<p>Enacted on 1 May 1961, the Dowry Prohibition Act was implemented to prevent the dowry system from India. Under the Act, giving and receiving dowry is strictly prohibited in the country. A dowry under the ActAct includes goods, property or money given by either party in a marriage, by the parents or any of the party, or anyone else in connection with the marrying parties.</p>
</div> 

<div class="co2">
    <img src="https://th.bing.com/th/id/OIP.j7zUjBmVLupcc0rv9y1pTgHaDo?pid=ImgDet&rs=1" alt="Punishment">
    <h2>Punishment</h2>
    <p>According to section 4, if any person directly or indirectly demands dowry from the parents, relatives or guardians of the bride or the bridegroom shall be punished with an imprisonment of not less than six months and which shall extend to two years and with fine which may extend to ten thousand rupees.</p>
</div>