<div class="container">
    <h1 class="page-heading">Complaints and Counseling Cell of the Commission</h1>
    <div class="instructions">
        <marquee style="color:blue">**Please read the following instructions carefully for the res of knowledge on complaint Registration.**</marquee>
  
      <h2 class="instructions-heading">Instructions</h2>
      <p>
        The Complaints and Counseling Cell of the commission processes all the complaints whether received orally, written or suo-motu under Section 10 of the NCW Act. The complaints received relate to domestic violence, harassment, dowry, torture, desertion, bigamy, rape, refusal to register FIR, cruelty by husband, deprivation, gender discrimination and sexual harassment at the workplace.
      </p>
    
    <h3 class="sub-heading">Complaints Dealt With:</h3>
    <ul>
      <li>Investigations by the police are expedited and monitored.</li>
      <li>The matters are brought to the notice of various state authorities to facilitate action.</li>
      <li>Family disputes are resolved or compromised through counseling.</li>
      <li>As per the Sexual Harassment at Work Place (Prevention Prohibition and Redressal) Act, 2013, the rules made by the Central Government in December 2013 on the subject, and the Criminal Law (Amendment) Act, 2013, every employer is required to provide effective complaints procedures and remedies, including the award of compensation to women victims. In sexual harassment complaints, the concerned organization is urged to expedite cases, and the disposal is monitored.</li>
      <li>For serious crimes, the Commission constitutes an Inquiry Committee which makes spot enquiries, examines witnesses, collects evidence, and submits the report with recommendations. The implementation of the report is monitored by the NCW. The Commission has powers to summon the accused, witnesses, and records to facilitate inquiry.</li>
    </ul>
  
    <h3 class="sub-heading">Cases Not Entertained:</h3>
    <ul>
      <li>Complaints are illegible or vague, anonymous, or pseudonymous.</li>
      <li>The complaint is that of frivolous or like nature.</li>
      <li>The Complaint relates to civil disputes between the parties, such as contractual rights obligations and the like.</li>
      <li>The Complaint relates to service matters not involving any deprivation of women's rights.</li>
      <li>The Complaint relates to labor/industrial disputes not involving any deprivation of women's rights.</li>
      <li>Matter is sub judice before a Court/Tribunal.</li>
      <li>The Commission shall not inquire into any matter which is pending before a State Commission or any other Commission duly constituted under any law for the time being in force.</li>
      <li>The Commission shall not inquire into any matter after the expiry of one year from the date on which the Act constituting violation or deprivation of Women's Rights is alleged to have been committed.</li>
      <li>Matter already decided by the Commission.</li>
    </ul>
    <p>
        If you wish to register a complaint, please click the link below to proceed to the complaint registration form:
      </p>
      <a href="https://ncwapps.nic.in/onlinecomplaintsv2/frmPubRegistration.aspx" class="btn btn-primary">Click here for Complaint Registration</a>
    </div>
  </div>
  